of_app/of_v0.11.0_osx_release/examples
of_app/of_v0.11.0_osx_release/addons/ofxOpenCv
of_app/of_v0.11.0_osx_release/addons/ofxFaceTracker2
of_app/of_v0.11.0_osx_release/libs/openFrameworksCompiled
of_app/of_v0.11.0_osx_release/addons/ofxAssimpModelLoader
of_app/of_v0.11.0_osx_release/addons/ofxAndroid
