/////////////
// IMPORTS //
/////////////
// NORMALIZE
@import ./imports/_normalize

// COLOR PALETTE
@import ./imports/_color-pallete

// STRUCTURE
@import ./imports/_structure-base


@font-face
  font-family: "Courier"
  font-weight: 400
  font-style: normal
  font-display: auto
  unicode-range: U+000-5FF
  src: local("Courier"), url("/fonts/CourierM.ttf") format("truetype")
